<h1>Welcome to yelp demo</h1>
<h2>This is one of the simple applications for <a href="https://www.baserails.com/">Base Rails</a>. A platform that teaches people to build awesome websites with the Ruby on Rails programming language </h2>
